.columns {
  flex-wrap: wrap;
}

.column {
  padding: 0 !important;
  margin-top: 10px;
}
.navbar{
  background-color:transparent;
}
.input,.textarea{
  color:#3C096C;
  border-color:#9D4EDD;
  box-shadow: 2px 2px 1px #5A189A;
  background-color: transparent;
  opacity: 4; /* Firefox */
}
.input:hover,.textarea:hover{
  border-color:#240046 ;
}

.button.is-primary {
  background-color:#7B2CBF;
  border-color:transparent;
  color:#fff
}
.button.is-primary.is-hovered,
 .button.is-primary:hover {
  background-color:#5A189A;
  border-color:transparent;
  color:#fff
}
.button.is-light {
  background-color:#9D4EDD;
  border-color:transparent;
  color:#fff
}
.button.is-light.is-hovered,
 .button.is-light:hover {
  background-color:#5A189A;
  border-color:transparent;
  color:#fff
}
.fas{
  color: #7B2CBF;
}
.text {
  text-shadow: 0.5px 0.5px 0.5px #C77DFF;
  color: #3C096C;
  font-size:20px;
  font-weight: 400;
}
.mybody {
    background-color: #ffffff;
}
/* .myfavdiv {
  background-color: #4FB286;
} */