.columns {
	flex-wrap: wrap;
}

.column {
	padding: 0 !important;
	margin-top: 10px;
}
.navbar {
	background-color: rgb(211, 227, 230);
	padding: 5px;
}
.column {
	padding: 10px !important;
	margin-top: 10px;
}
.input {
	color: #3c096c;
	border-color: #9d4edd;
	box-shadow: 2px 2px 1px #5a189a;
	background-color: transparent;
	opacity: 4; /* Firefox */
}
.input:hover {
	border-color: #240046;
}
.label {
	color: #3c096c;
	text-shadow: 0.5px 0.5px 0.5px #7b2cbf;
}
.button.is-primary {
	background-color: #7b2cbf;
	border-color: transparent;
	color: #fff;
}
.button.is-primary.is-hovered,
.button.is-primary:hover {
	background-color: #5a189a;
	border-color: transparent;
	color: #fff;
}
.button.is-light {
	background-color: #9d4edd;
	border-color: transparent;
	color: #fff;
}
.button.is-light.is-hovered,
.button.is-light:hover {
	background-color: #5a189a;
	border-color: transparent;
	color: #fff;
}
.fas {
	color: #7b2cbf;
}

.text {
	text-shadow: 0.5px 0.5px 0.5px #c77dff;
	color: #3c096c;
	font-size: 20px;
	font-weight: 400;
}
.text_brand {
	text-shadow: 1px 1px 1px #3c096c;
	/* 3C096C C77DFF*/
	color: #7b2cbf;
	font-size: 30px;
	font-weight: 700;
}
.mybody {
	background-color: #ffffff;
}

.bookItem {
	color: #7b2cbf;
	font-weight: 500;
	margin: 10px;
	border-radius: 15px;
	background: transparent;
	box-shadow: 0px 0px 3px #7b2cbf;
}
.bookItem:hover {
	box-shadow: 0px 0px 6px #3c096c;
}
.book-head {
	padding: 10px;
	text-align: center;
	border-bottom: 0.5px solid #7b2cbf;
}
.book-data {
	padding: 10px;
	height: 150px;
	width: 100%;
	vertical-align: center;
}
.book-footer {
	display: flex;
	padding: 10px;
	width: 100%;
	justify-content: space-between;
}
.book-footer-item {
	width: 45%;
	padding: 10px;
	align-content: center;
	text-align: center;
	border-radius: 15px;
	box-shadow: 0px 0px 3px #7b2cbf;
}
.book-footer-item:hover {
	box-shadow: 0px 0px 6px #3c096c;
	background-color: #5a189a;
	color: #ffffff;
}

a.navbar-item:hover {
	color: #3c096c;
	background-color: #c77dff;
}
.navbar-brand:hover {
	color: #3c096c;
	background-color: transparent;
}
.far,
.fas,
.fab {
	padding-right: 10px;
}

::placeholder {
	/* color: #7b2cbf; */
	opacity: 1;
	font-weight: 300;
	text-shadow: 0.2px 0px 0.2px #7b2cbf;
	/* text-shadow: 0px 0.2px 0px #000000; */
}

.card-button {
	color: #7b2cbf;
}
.card-button:hover {
	color: #ffffff;
}

.form-div,
.card-div {
	background-color: rgb(211, 227, 230);
	margin: 10px;
	padding: 10px;
}
