.columns {
	flex-wrap: wrap;
}

.column {
	padding: 0 !important;
	margin-top: 10px;
}
.navbar {
	background-color: transparent;
}
.column {
	padding: 10px !important;
	margin-top: 10px;
}
.input {
	color: #3c096c;
	border-color: #9d4edd;
	box-shadow: 2px 2px 1px #5a189a;
	background-color: transparent;
	opacity: 4; /* Firefox */
}
.input:hover {
	border-color: #240046;
}
.label {
	color: #3c096c;
	text-shadow: 0.5px 0.5px 0.5px #7b2cbf;
}
.button.is-primary {
	background-color: #7b2cbf;
	border-color: transparent;
	color: #fff;
}
.button.is-primary.is-hovered,
.button.is-primary:hover {
	background-color: #5a189a;
	border-color: transparent;
	color: #fff;
}
.button.is-light {
	background-color: #9d4edd;
	border-color: transparent;
	color: #fff;
}
.button.is-light.is-hovered,
.button.is-light:hover {
	background-color: #5a189a;
	border-color: transparent;
	color: #fff;
}

.text {
	text-shadow: 0.5px 0.5px 0.5px #c77dff;
	color: #3c096c;
	font-size: 20px;
	font-weight: 400;
}
.text_brand {
	text-shadow: 1px 1px 1px #3c096c;
	/* 3C096C C77DFF*/
	color: #7b2cbf;
	font-size: 30px;
	font-weight: 700;
}
.mybody {
	background-color: #ffffff;
}

.bookItem {
	color: #7b2cbf;
	font-weight: 500;
	margin: 10px;
	border-radius: 15px;
	background: transparent;
	box-shadow: 0px 0px 3px #7b2cbf;
}
.bookItem:hover {
	box-shadow: 0px 0px 6px #3c096c;
}
.book-head {
	padding: 10px;
	text-align: center;
	border-bottom: 0.5px solid #7b2cbf;
}
.book-data {
	padding: 10px;
	height: 150px;
	width: 100%;
	vertical-align: center;
}
.book-footer {
	display: flex;
	padding: 10px;
	width: 100%;
	justify-content: space-between;
}
.book-footer-item {
	width: 40%;
	padding: "10px";
	align-content: center;
	text-align: center;
	border-radius: 15px;
	box-shadow: 0px 0px 3px #7b2cbf;
}
.book-footer-item:hover {
	box-shadow: 0px 0px 6px #3c096c;
	background-color: #5a189a;
	color: #ffffff;
}

a.navbar-item:hover {
	color: #3c096c;
	background-color: #c77dff;
}
.navbar-brand:hover {
	color: #3c096c;
	background-color: transparent;
}
.fas,
.fab {
	padding-right: 10px;
}
.brand {
	color: #7b2cbf;
}
.mybody {
	/* background-color: #c958e9;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23c958e9' cx='50' cy='0' r='50'/%3E%3Cg fill='%23ca63ea' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cb6deb' cx='50' cy='100' r='50'/%3E%3Cg fill='%23cb76ec' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cc7eee' cx='50' cy='200' r='50'/%3E%3Cg fill='%23cd86ef' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ce8df0' cx='50' cy='300' r='50'/%3E%3Cg fill='%23ce94f1' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cf9bf2' cx='50' cy='400' r='50'/%3E%3Cg fill='%23d0a1f3' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d1a8f4' cx='50' cy='500' r='50'/%3E%3Cg fill='%23d1aef5' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d2b3f6' cx='50' cy='600' r='50'/%3E%3Cg fill='%23d3b9f8' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d4bef9' cx='50' cy='700' r='50'/%3E%3Cg fill='%23d4c4fa' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d5c9fb' cx='50' cy='800' r='50'/%3E%3Cg fill='%23d6cefc' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d7d3fd' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d7d7fe' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d8dcff' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: contain; */

	/* background-color: #f760ff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23f760ff' cx='50' cy='0' r='50'/%3E%3Cg fill='%23f769ff' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f871fe' cx='50' cy='100' r='50'/%3E%3Cg fill='%23f878fe' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f980fe' cx='50' cy='200' r='50'/%3E%3Cg fill='%23f986fe' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f98dfd' cx='50' cy='300' r='50'/%3E%3Cg fill='%23fa93fd' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fa99fd' cx='50' cy='400' r='50'/%3E%3Cg fill='%23fb9efc' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fba4fc' cx='50' cy='500' r='50'/%3E%3Cg fill='%23fba9fc' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fcaefb' cx='50' cy='600' r='50'/%3E%3Cg fill='%23fcb3fb' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fdb8fb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23fdbdfb' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fdc2fa' cx='50' cy='800' r='50'/%3E%3Cg fill='%23fec6fa' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fecafa' cx='50' cy='900' r='50'/%3E%3Cg fill='%23ffcff9' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffd3f9' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
  background-size: contain;
   */
	background-image: url("../assets/body4.svg");
	background-size: cover;
	background-attachment: fixed;
}
::placeholder {
	/* color: #7b2cbf; */
	opacity: 1;
	font-weight: 300;
	text-shadow: 0.2px 0px 0.2px #7b2cbf;
	/* text-shadow: 0px 0.2px 0px #000000; */
}
